.grid {
  width: 450px;
  height: 450px;
  border:  solid black 1px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 30px;
  height: 30px;
}

.invader {
  background-color: red;
  border-radius: 15px;
}

.player {
  background-color: blue;
  border-radius: 15px;
}

.laser {
  background-color: green;

}

.destroy {
  background-color: yellow;
}
